<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Корзина</title>
    <link rel="website icon" type="png" href="icon.png">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="description" content="Shopyfy">
</head>
<body>

<nav class="navbar">
    <div class="container">
        <a href="{{url_for('admin')}}" class="navbar-brand">SHOPYFY</a>
        <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li>
                    <a href="#">О нас</a>
                    <ul class="submenu">
                        <li><a href="#" id="teamLink">Наша команда</a></li> 
                        <li><a href="#">История</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
                <li><a href="#">Портфолио</a></li>
                <li>
                    <a href="">продукты</a>
                    <ul class="submenu">
                        <li><a href="{{url_for('puma')}}">Puma</a></li>
                        <li><a href="{{url_for('nike')}}" >Nike</a></li>
                        <li><a href="{{url_for('adidas')}}">Adidas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="{{url_for('korzina')}}">
                        <img src="{{ url_for('static', filename='cart-shopping-solid.svg') }}" alt="Корзина" class="cart-icon">
                        <span id="cart-count" class="cart-badge">0</span>
                    </a>
                </li>           
            </ul>
        </div>
    </div>
</nav>

<div class="sidebar">
    <br>
    <h2>Ваша корзина</h2>
    <div class="cart-conteiner">
        <div class="cards-row">
           
            <!-- Карточки товаров в корзине -->
            {% for item in cart_items %}
                <div class="card" data-id="{{ item.product_id }}" data-name="{{ item.product_name }}" data-price="{{ item.product_price }}">
                    <h4 align="center">{{ item.product_name }}</h4>
                    <img src="{{ item.product_image }}" alt="{{ item.product_name }}" class="card-image">
                    <p><h4>{{ item.product_price }} ₽</h4></p>
                    <div class="card-buttons">
                        <button class="buy-button">Купить</button>
                        <button class="remove-button" data-id="{{ item.product_id }}">Удалить</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <button id="clear-cart" class="clear-cart-button">Очистить корзину</button>

</div>
<div class="footer"></div>

<script src="{{url_for('static', filename='korzina.js')}}"></script>
</body>
</html>
