<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Puma</title>
    <link rel="website icon" type="png" href="icon.png">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="description" content="Shopyfy">
</head>
<body>

<nav class="navbar">
    <div class="container">
            <a href="{{url_for('admin')}}" class="navbar-brand">SHOPYFY</a>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li>
                        <a href="#">О нас</a>
                        <ul class="submenu">
                            <li><a href="#" id="teamLink">Наша команда</a></li> 
                            <li><a href="#">История</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Портфолио</a>
                        <ul class="submenu">
                            <li><a href="#">Проекты</a></li>
                            <li><a href="#">Отчеты</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="callback">Продукты</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('puma')}}">Puma</a></li>
                            <li><a href="{{url_for('nike')}}" >Nike</a></li>
                            <li><a href="{{url_for('adidas')}}" >Adidas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{url_for('korzina')}}">
                            <img src="{{ url_for('static', filename='cart-shopping-solid.svg') }}" alt="Корзина" class="cart-icon">
                            <span id="cart-count" class="cart-badge">0</span>
                        </a>
                    </li>
                </ul>
            </div>
	</div>
</nav>

<div class="sidebar">
    <br>
    <div class="cards-row" id="products-container">
        <!-- Первые 3 карточки продуктов -->
        <div class="card" data-id="1" data-name="Puma-1" data-price="2500">
            <h4 align="center">Puma-1</h4>
            <img src="/photo/puma_1.jpg" alt="Puma-1" class="card-image">
            <p><h4>2500 ₽</h4></p>
            <div class="card-buttons">
                <button class="buy-button">Купить</button>
                <button class="cart-button">Положить в корзину</button>
            </div>
        </div>
        
        <div class="card" data-id="2" data-name="Puma-2" data-price="2200">
            <h4 align="center">Puma-2</h4>
            <img src="/photo/puma_2.jpg" alt="Puma-1" class="card-image">
            <p><h4>2200 ₽</h4></p>
            <div class="card-buttons">
                <button class="buy-button">Купить</button>
                <button class="cart-button">Положить в корзину</button>
            </div>
        </div>

        <div class="card" data-id="3" data-name="Puma-3" data-price="2800">
            <h4 align="center">Puma-3</h4>
            <img src="/photo/puma_3.jpg" alt="Puma-3" class="card-image">
            <p><h4>2800 ₽</h4></p>
            <div class="card-buttons">
                <button class="buy-button">Купить</button>
                <button class="cart-button">Положить в корзину</button>
            </div>
        </div>
    </div>
    
    <!-- Кнопка для загрузки других продуктов -->
    <button id="other-products-button" class="load-more-button">Показать другие продукты</button>

    <div id="other-products-container" class="other-cards-row hidden" >

       
    </div>
    <br>
</div>

<div class="footer"> </div>

<script src="{{url_for('static', filename='puma.js')}}"></script>
</body>
</html>
